<!--suppress ALL -->
<div class="container">
  <h2>About</h2>
  <p>
    I have no commercial experience yet, but I help nonprofit organizations and
    activists to create and maintain Web pages as a volunteer. Now, I am changing
    my main occupation and looking for a job in IT area. My strengths are the
    ability to structure tasks, prioritize, be flexible and take responsibility. I
    have been living in Poland for 8 years and I am a citizen of Poland.
  </p>
  <h2>Skills</h2>
  <ul>
    <li>
Languages: JavaScript, TypeScript, HTML5, CSS3,
        SCSS.
    </li>
    <li>
Frameworks: Angular.
    </li>
    <li>
   Other: Git/GitHub, WebPack.
    </li>
  </ul>
  <h2>Education</h2>
  <p>Arkhangelsk State Technical University - Engineer</p>
  <p>Major: Construction and Research of Motor Vehicles</p>
  <h2>Online classes:</h2>
  <ul>
    <li><a href="https://htmlacademy.ru/" target="_blank">HTML Academy:
      HTML, CSS, JS</a></li>
    <li><a href="https://www.edx.org/course/cs50s-web-programming-with-python-and-javascript" target="_blank">EdX: CS50's Web Programming with Python and JavaScript</a></li>
    <li><a href="https://www.udacity.com/course/front-end-web-developer-nanodegree--nd0011" target="_blank">Udacity: Front-End Web Developer</a></li>
    <li>RSSchool: <a
      href="https://github.com/rolling-scopes-school/tasks/tree/master/stage0" target="_blank">Stage0, </a><a
      href="https://github.com/rolling-scopes-school/tasks/tree/master/stage1" target="_blank">Stage1, </a><a
      href="https://github.com/rolling-scopes-school/tasks/tree/master/stage2" target="_blank">Stage2, </a><a
      href="https://github.com/rolling-scopes-school/tasks/tree/master/tasks/angular" target="_blank">Angular</a></li>


  </ul>
  <h2>Languages</h2>
  <ul>
    <li>Polish - Intermediate</li>
    <li>English - Elementary</li>
    <li>Russian - Native</li>
  </ul>
</div>
