<div class="container">
  <h2>About</h2>
  <p>
    I have no commercial experience yet, but I help nonprofit organizations and
    activists to create and maintain Web pages as a volunteer. Now, I am changing
    my main occupation and looking for a job in IT area. My strengths are the
    ability to structure tasks, prioritize, be flexible and take responsibility. I
    have been living in Poland for 8 years and I am a citizen of Poland.
  </p>
  <h2>Education</h2>
  <p>Arkhangelsk State Technical University - Engineer</p>
  <p>Major: Construction and Research of Motor Vehicles</p>
  <h2>Online classes:</h2>
  <ul>
    <li><a href="">HTML Academy: HTML, CSS, JS</a></li>
    <li><a href="">Sololearn: JavaScript</a></li>
    <li><a href="">EdX: CS50's Web Programming with Python and JavaScript</a></li>
    <li><a href="">Udacity: Front-End Web Developer</a></li>
    <li><a href="">FreeCodeCamp: JavaScript Algorithms and Data Structures</a></li>
    <li><a href="">Udacity: Front-End Web Developer</a></li>
  </ul>
  <h2>Languages</h2>
  <ul>
    <li>Russian - Native</li>
    <li>Polish - Intermediate</li>
    <li>English - Elementary</li>
  </ul>
</div>
