:host {
  flex: 1;
}
.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 980px;
  width: 90%;
  padding: 2em 1em;
}
p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
  line-height: 1.5;
  padding-left: 1em;
  color: rgba(0, 0, 0, 0.6);
}
ul {
  list-style-type: none;
  line-height: 2;
  color: rgba(0, 0, 0, 0.6);
  padding-left: 1em;
  margin-top: 0;
  a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
    transition-duration: 300ms;
    &:hover {
      transition-duration: 300ms;
      color: rgba(0, 0, 0, 0.8);
    }
  }
}
