<div class="container">
  <ng-container *ngFor="let card of cards">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>{{card.title}}</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{card.image}}"
           alt="{{card.title}}"
           routerLink='/app-descriptions'
           (click)="goToDetails(card.id)">
      <mat-card-content>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button [disabled]="card.deploy === ''" (click)="openLink(card.deploy)">DEPLOY
        </button>
        <button mat-button [disabled]="card.code === ''" (click)="openLink(card.code)">CODE
        </button>
      </mat-card-actions>
    </mat-card>
  </ng-container>
</div>
