.container {
  display: flex;
  margin: 0 auto;
  padding-top: 50px;
  max-width: 1024px;
  width: 95%;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 2em;
  .example-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 2em;
    width: 300px;
    background-color: rgb(0,0,0,0.05);
    img {
      scale: 90%;
      cursor: pointer;
      transition-duration: 400ms;
      &:hover {
        filter: brightness(80%);
        transition-duration: 400ms;
      }
    }
  }
}
