<div class="container">
  <h2>Contact information:</h2>
  <ul>
    <li>
      <p>Phone:&nbsp;<a href="tel:+48797807995">+48&nbsp;797&nbsp;807&nbsp;995</a></p>
    </li>
    <li>
      <p>E-mail:&nbsp;<a href="mailto:guschins@gmail.com">guschins@gmail.com</a></p>
    </li>
    <li>
      <p>LinkedIn:&nbsp;<a href="https://www.linkedin.com/in/sergei-gushchin/" target="_blank">sergei-gushchin</a>
      </p>
    </li>
    <li>
      <p>GitHub:&nbsp;<a href="https://github.com/GuschinS" target="_blank">GuschinS</a></p>
    </li>
  </ul>
</div>
