:host {
  flex: 1;
}
.container {
  display: flex;
  flex-direction: column;
  margin: 50px auto 0;
  max-width: 980px;
  width: 90%;
  padding-left: 1em;
}
ul {
  list-style-type: none;
  line-height: 2;
  color: rgba(0, 0, 0, 0.6);
  padding-left: 1em;
  a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
    transition-duration: 300ms;
    &:hover {
      transition-duration: 300ms;
      color: rgba(0, 0, 0, 0.8);
    }
  }
}
